@charset "UTF-8";

body {
    background-color: rgb(171, 236, 218);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color:rgb(0, 0, 0);
    background-color: rgb(66, 175, 211);
}

h2 {
    color: rgb(6, 38, 62);
}

p {
    text-align: justify;
}
