@charset "UTF-8";

/* Typical device Breakpoints 
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    #icon-menu {
        display: none;
    }

    menu {
        display: block; /* Faz o bloco aparecer */
    }

    menu > ul > li {
        display: inline-block;
        padding: 5px;
    }

    main {
        width: 768px;
    }
    
}